#friends-display-link {
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 15px 0px;
}

.friends-display-link__img {
    width: 13px;
    height: 13px;
    filter: opacity(0.3);
}