#friends-display-link {
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 15px 0px;
    font-size: 15px;
    margin-bottom: 5px;
}

.friends-display-link__img {
    width: 13px;
    height: 13px;
    filter: opacity(0.3);
}

.friends-screen__channel-header img {
    transform: rotate(270deg);
}

.friends-screen {
    padding: 0px var(--horizontal-space);
}